body {
    background-color: #d0e4fe;
}

.perkele {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 200px;
    border: 2px solid #73AD21;
}
